<div class="container">
  <div class="images-profile-container">
      <div class="wall-picture-container">
      <!-- Displays wall images depending if uploaded images or not -->
            <% if Imageprofile.where(user_id: @user.id )[0] != nil && Imageprofile.where(user_id: @user.id )[0].wall_image != nil %>
                <div class="wall-image-paperclip">
                  <%= image_tag @imageprofile.wall_image %>
                </div>
            <% else %>
                
                <img src="/assets/image_profile.jpg" class="img-fluid" alt="Responsive image">
                
            <% end %>
      </div>
      <div class="profile-pic-container">
      <!-- Displays profile images depending if uploaded images or not -->
          <% if Imageprofile.where(user_id: @user.id )[0] != nil && Imageprofile.where(user_id: @user.id )[0].profile_image != nil %>
            <div class="profile-image-paperclip" data-toggle="modal" data-target="#myModal">
              <%= image_tag @imageprofile.profile_image %>
              <div class="profile-name">
                <h2><%= @user.first_name %> <%= @user.last_name %></h2>
              </div>
            </div>
          <% else %>
            <p>
              <img src=<%= @user.picture_url %> alt="" height="220" width="210" data-toggle="modal" data-target="#myModal">
              <div class="profile-name">
                <h2><%= @user.first_name %> <%= @user.last_name %></h2>
              </div>
            </p>
          <% end %>
      </div>
  </div>

  <div class="col-lg-12 information-profile-container">

    <div class="col-lg-4"> 
      <div class="user-info-and-updates ">
        <ul class="list-group">
          <li class="list-group-item title-basic-info-profile">Basic Info</li>
          <li class="list-group-item ">
            <p>About:<%= @user.about%></p>
            <p>Number of books: <%= @user_books.count %></p>
          </li>  
        </ul>
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-body">
                <div class="col-lg-12">
                  <div class="col-lg-7 picture-profile-modal">

                    <% if Imageprofile.where(user_id: @user.id )[0] != nil && Imageprofile.where(user_id: @user.id )[0].profile_image != nil %>
                      <%= image_tag @imageprofile.profile_image %>
                    <% else %>
                      <img src=<%= @user.picture_url %> alt="" height="535" width="490">
                    <% end %>
                  </div>
                  <div class="col-lg-4 modal-display-info"  style="background: white;">
                    <h3><%= @user.first_name %> <%= @user.last_name %> </h3>
                    <p>About:<%= @user.about%></p>
                    <p>Number of books: <%= @user_books.count %></p>

                    <div class="user-books-images small-containers">
                      <h4>Books</h4>
                      <% @user_books.each do |book| %>
                          <a href="/books/<%= book.id %>"><img src=<%=  book.picture_url %> alt="" height="110" width="103"></a>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="user-info-and-updates small-containers">
        <h4>Latest Books Actions</h4>
        <h4>Requests Made:</h4>
        <% @requests_made.each do |request|%>

          <% if request.attended_to == false %>
            <p><span style="color: #DAA520"> Waiting for decision!</span> You have requested <a href="/books/<%= request.book_id %>"><b><%= Book.find(request.book_id).title %></b></a> from <a href="/users/<%= request.owner_id %>"><b><%= User.find(request.owner_id).first_name %> <%= User.find(request.owner_id).last_name %></a></b>'s list.</p>
          <% end %>

          <% if request.attended_to == true && request.accepted == true %>
            <p><span style="color: green">Congrats!</span> Your requested book <a href="/books/<%= request.book_id %>"><b><%= Book.find(request.book_id).title %></b></a> has been apporved.To be returned in 7 days</p>
          <% end %>

          <% if request.attended_to == true && request.accepted == false %>
            <p> Your requested book <a href="/books/<%= request.book_id %>"><b><%= Book.find(request.book_id).title %></b></a> has been <span style="color: red">denied</span>. Try again to see if the owner changes his/her mind.</p>
          <% end %>

        <% end %>

        <h4>Requests Recieved:</h4>
        <% @requests_recieved.each do |request|%>

          <% if request.attended_to == false %>
            <p><a href="/users/<%= request.borrower_id %>"> <b><%= User.find(request.borrower_id).first_name %> <%= User.find(request.borrower_id).last_name %></b></a> requested <a href="/books/<%= request.book_id %>"><b><%= Book.find(request.book_id).title %></b></a></p>
            <% if current_user.id == @user.id %>
              <% @book = Book.find(request.book_id) %>

              <%= simple_form_for([@book, @book.lends.build]) do |f| %>  
                <%= f.button :submit %>              
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <br>
      <div class="user-books-images small-containers">
        <h4>Books</h4>
        <% @user_books.each do |book| %>
          <a href="/books/<%= book.id %>"><img src=<%=  book.picture_url %> alt="" height="110" width="103"></a>
        <% end %>
      </div>
    </div>
    

    <div class="col-lg-8 user-books">

      <div class="media">
        <% @user_books.each do |book| %>
          <div class="small-containers">

            <div class="media-left media-top">
              <a href="/books/<%= book.id %>">
              <img src=<%= book.picture_url%> alt="" height="40" width="40">
              </a>
            </div>
            <div class="media-body">
              <div class="small-containers">
                <a href="/books/<%= book.id %>"><h3 style="color:#3b5998;"><b> <%= book.title %></b></h3></a>
                <h4>by: <%= book.author %></h4>
                <p> <%= truncate(book.description , length: 300)%></p>        
  
                <!-- This displays book status and like button -->
                <% if Request.where(book_id: book.id)[0] == nil %>
                  <p>Status: <span style="color: green;">Available</span>
                  
                 <div class="like-button">
                  <%= simple_form_for([book, book.likes.build]) do |f| %>
                    <%= Like.where(book_id: book.id).count %>
                    <input type="image" class="like-button" name="commit" src="/assets/like.png" alt="Submit Form" height="15" width="15"/>         
                  <% end %>
                </div>
                
                <% elsif (Request.where(book_id: book.id)[0].accepted == true) %>
                  <p>Status: <span style="color: red;">Not Available</span>, lent to <a href="/users/<%= User.where(id: Request.where(book_id: book.id)[0].borrower_id)[0].id %>"><b style="color: #3b5998;"> <%= User.where(id: Request.where(book_id: book.id)[0].borrower_id)[0].first_name %> <%= User.where(id: Request.where(book_id: book.id)[0].borrower_id)[0].last_name %></b>.</a>
                  </p>
                  <div class="like-button">
                  <%= simple_form_for([book, book.likes.build]) do |f| %>
                    <%= Like.where(book_id: book.id).count %>
                    <input type="image" class="like-button" name="commit" src="/assets/like.png" alt="Submit Form" height="15" width="15"/>         
                  <% end %>
                </div>
                <% elsif (Request.where(book_id: book.id)[0] != nil) || (Request.where(book_id: book.id)[0].accepted != false) %>
                  <p>Status: <span style="color: #DAA520;">Pending a lend request</span> to 
                    <a href="/users/<%= User.where(id: Request.where(book_id: book.id)[0].borrower_id)[0].id %>"><b style="color: #3b5998;"><%= User.where(id: Request.where(book_id: book.id)[0].borrower_id)[0].first_name %> <%= User.where(id: Request.where(book_id: book.id)[0].borrower_id)[0].last_name %></b></a></p>
                  <div class="like-button">
                  <%= simple_form_for([book, book.likes.build]) do |f| %>
                    <%= Like.where(book_id: book.id).count %>
                    <input type="image" class="like-button" name="commit" src="/assets/like.png" alt="Submit Form" height="15" width="15"/>         
                  <% end %>
                </div>
                  <% else %>
                  <p>NO info to diplay, something is wrong, please check!</p>
                <% end %>
                <!-- END - This displays book status and like button -->
                
              </div>
            </div>
              <% if user_signed_in? %>
                <div class="buttons-commands-books">
                  <% if current_user.id == book.user_id %>
                    <button class="btn facebook-style-button"><%= link_to 'Show', book %></button>
                    <button class="btn facebook-style-button"><%= link_to 'Edit', edit_book_path(book) %></button>
                    <button class="btn facebook-style-button"><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></button>
                  <% else %>
                    <button class="btn facebook-style-button buttons-commands-books-no-current-user"><%= link_to 'Show More', book %></button> 
                  <% end %>
                </div>
              <% end %>
          </div>
        <br>
        <% end %>
      </div>
    </div>
  </div>
</div>


