

<div class="container">
  <div class="images-profile-container">
    <img src="/assets/image_profile.jpg" alt="" height="410" width="100%">
    <div class="profile-pic-container">
      <p>
        <img src=<%= @user.picture_url %> alt="" height="220" width="210">
        <div class="profile-name">
          <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        </div>
      </p>
    </div>
  </div>

  <div class="col-lg-12 information-profile-container">

    <div class="col-lg-4"> 
      <div class="user-info-and-updates small-containers">
        <h4>Basic Info</h4>
        <p>About:<%= @user.about%></p>
        <p>something</p>
      </div>
      <br>
      <div class="user-info-and-updates small-containers">
        <h4>Latest Books Actions</h4>
        <h4>Requests Made:</h4>
        <% @requests_made.each do |request|%>
          <p> You have requested <a href="/books/<%= request.book_id %>"><b><%= Book.find(request.book_id).title %></b></a> from <a href="/users/<%= request.owner_id %>"><b><%= User.find(request.owner_id).first_name %> <%= User.find(request.owner_id).last_name %></a>'s list.</b></p>
          <p>Status: Waiting for decision!</p>

        <% end %>

        <h4>Requests Recieved:</h4>
        <% @requests_recieved.each do |request|%>
          <p> <a href="/users/<%= request.borrower_id %>"> <b><%= User.find(request.borrower_id).first_name %> <%= User.find(request.borrower_id).last_name %></b></a> requested <a href="/books/<%= request.book_id %>"><b><%= Book.find(request.book_id).title %></b></a></p>
        <% end %>
      </div>
      <br>
      <div class="user-books-images small-containers">
        <h4>Books</h4>
        <% @user_books.each do |book| %>
          <a href="/books/<%= book.id %>"><img src=<%=  book.picture_url %> alt="" height="95" width="95"></a>
        <% end %>
      </div>
    </div>
    

    <div class="col-lg-8 user-books small-containers">

      <div class="media">
        <% @user_books.each do |book| %>

          <div class="small-containers">

            <div class="media-left media-top">
              <a href="#">
              <img src=<%= book.picture_url%> alt="" height="40" width="40">
              </a>
            </div>
            <div class="media-body">
              <a href="/books/<%= book.id %>"><h3 style="color:#3b5998;"><b> <%= book.title %></b></h3></a>
              <h4>by: <%= book.author %></h4>
              <p> <%= truncate(book.description , length: 300)%></p>                
            </div>
              <% if user_signed_in? %>
                <div class="buttons-commands-books">
                  <% if current_user.id == book.user_id %>
                    <button class="btn facebook-style-button"><%= link_to 'Show', book %></button>
                    <button class="btn facebook-style-button"><%= link_to 'Edit', edit_book_path(book) %></button>
                    <button class="btn facebook-style-button"><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></button>
                  <% else %>
                    <button class="btn facebook-style-button buttons-commands-books-no-current-user"><%= link_to 'Show More', book %></button> 
                  <% end %>
                </div>
              <% end %>
          </div>
        <br>
        <% end %>
      </div>

    </div>

  </div>
</div>