<!DOCTYPE html>
<html>
<head>
  <title>Savebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header small-logo-navbar">
        <a href="/books"><img src="/assets/logo8.png" alt="" height="28" width="28"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control input-sm" placeholder="Search Books">
          </div>
            <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
        </form>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/users/<%= current_user.id %>"><img src=<%= current_user.picture_url %> alt="" height="20" width="20"> <%= current_user.first_name %></a></li>
          <li><a href="/books/"><span class="glyphicon glyphicon-globe"></span> Books</a></li>
          <li><a href="/books/new"><span class="glyphicon glyphicon-book"></span> Post A Book</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Settings", edit_user_registration_path %></li>
              <li><%= link_to "Sing Out", destroy_user_session_path,  :method  => 'delete'%></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
  </nav> 
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% else %>
  <nav class="navbar navbar-default no-sing-in-navbar">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->

      <div class="navbar-header long-logo-navbar">
        <img src="/assets/longlogosavebook3.png" alt="" height="35" width="220">
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right form-sing-in" id="bs-example-navbar-collapse-1">

        <%= render './devise/sessions/form' %>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav> 
<% end %>

<%= yield %>

<footer class="footer">
  <p>facebook inspiration </p>
</footer>

</body>
</html>
